<nav class="bg-white flex border-gray-200 dark:bg-gray-900">
    <button type="button" *ngFor="let category of categories" (click)="selectCategory(category)"
    class="font-medium text-sm px-5 py-2.5 me-2"
    [ngClass]="category === selectedCategory ? 'focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900' : 'text-purple-700 hover:text-white border border-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 text-center dark:border-purple-400 dark:text-purple-400 dark:hover:text-white dark:hover:bg-purple-500 dark:focus:ring-purple-900'">
        {{ category }}
    </button>

    <button data-modal-target="new-category-modal" data-modal-toggle="new-category-modal" type="button" class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium text-sm px-5 py-2.5 me-2 text-center inline-flex items-center me-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800" >
        <svg class="w-[18px] h-[18px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
        </svg>
        <span *ngIf="categories.length === 0" class="ml-2">Ajoutez votre première catégorie !</span>
    </button>
</nav>

<div id="new-category-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Nouvelle catégorie</h3>
                <button type="button" class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="new-category-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/></svg>
                    <span class="sr-only">Fermer</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5">
                <form #categoryForm="ngForm" (ngSubmit)="onSubmit(categoryForm)" class="space-y-4">
                    <input type="text" name="newCategoryName" id="newCategoryName" [(ngModel)]="newCategoryName" placeholder="Insérez le nom de la catégorie" required (input)="onTaskTitleNameChange()" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"/>
                    <button type="submit" [class.hidden]="hideCreateButton" data-modal-hide="new-category-modal" class="w-full text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Créer
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal pour l'erreur de catégorie vide -->
<div *ngIf="categoryNameError" class="fixed top-0 left-0 w-full h-full bg-gray-800 bg-opacity-50 flex justify-center items-center">
    <div class="bg-white p-8 rounded-lg">
        <h2 class="text-xl font-semibold mb-4">/!\</h2>
        <p class="text-red-500">Le nom de la catégorie ne peut pas être vide ou déjà existant.</p>
        <button (click)="closeCategoryErrorModal()" class="mt-4 bg-purple-700 text-white px-4 py-2 rounded-md">Ok</button>
    </div>
</div>

<div class="border border-gray-300 p-5">
    <app-todo-list [category]="selectedCategory"></app-todo-list>
</div>
