<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>

<body class="flex">
    <div class="flex w-20 h-screen border-r justify-center items-end">
        <img class="w-12 h-12 rounded-full mb-3" src="https://scontent-cdg4-3.xx.fbcdn.net/v/t39.30808-6/405749792_1393286457927462_7856887877498089774_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=q_vF-SxbNTQAX_m1FPG&_nc_ht=scontent-cdg4-3.xx&oh=00_AfBeqcsPMNLz1AEspfhpNu5qThvQ9n0NO9J7KRPsJQKyvA&oe=65E78CF9" alt="Jese image">
    </div>
    <div class="flex flex-col h-screen w-1/3 border-r-2">
        <div class="bg-white py-2 m-5 sm:flex sm:items-center sm:justify-between dark:bg-gray-800">
            <div class="flex justify-center items-center space-x-1">
                <img class="w-7 h-7 mr-3" src="assets/favicon.png" alt="">
                <h1 class="text-xl font-bold">Messagé</h1>
            </div>
            <div class="flex justify-center items-center space-x-1">
                <button data-tooltip-target="tooltip-new-conv" data-modal-target="newConversationModal" data-modal-toggle="newConversationModal" type="button" class="inline-flex justify-center p-2 text-gray-500 rounded-lg cursor-pointer dark:text-gray-400 dark:hover:text-white hover:text-gray-900 hover:bg-gray-100 dark:hover:bg-gray-600">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 7.8v8.4M7.8 12h8.4m4.8 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                    </svg>
                    <span class="sr-only">Nouvelle conversation</span>
                </button>

                <div id="tooltip-new-conv" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700">
                    Nouvelle conversation
                    <div class="tooltip-arrow" data-popper-arrow></div>
                </div>
            </div>
        </div>

        <div class="relative h-[calc(100% - 110px)] overflow-auto">
            <div  class="flex hover:bg-gray-200 p-5 m-1 rounded-md cursor-pointer">
                <img class="w-12 h-12 rounded-full" src="https://scontent-cdg4-1.xx.fbcdn.net/v/t39.30808-6/405747864_1598288400978720_1546075625288456852_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=3QNWnfSZjFIAX_KA-uY&_nc_ht=scontent-cdg4-1.xx&oh=00_AfDG1garkY90OI9-Q9W8wHFLgDZAKhIg2ThBD5voQ-h_CA&oe=65E6CF18" alt="Jese image">
                <div class="ml-3">
                    <h2 class=" font-semibold">Jessie Phlaileucuby</h2>
                    <div class="flex justify-between text-gray-700">
                        <p class="">Nous sommes des messagés du seigneur, ne nous résignons pas à de tels termes et autres obsénités voyons...</p>
                        <span>. 3h</span>
                    </div>
                </div>
            </div>
            <div  class="flex  hover:bg-gray-200 p-5 m-1 rounded-md cursor-pointer">
                <img class="w-12 h-12 rounded-full" src="https://scontent-cdg4-1.xx.fbcdn.net/v/t39.30808-6/405747864_1598288400978720_1546075625288456852_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=3QNWnfSZjFIAX_KA-uY&_nc_ht=scontent-cdg4-1.xx&oh=00_AfDG1garkY90OI9-Q9W8wHFLgDZAKhIg2ThBD5voQ-h_CA&oe=65E6CF18" alt="Jese image">
                <div class="ml-3">
                    <h2 class=" font-semibold">Jessie Phlaileucuby</h2>
                    <div class="flex justify-between text-gray-700">
                        <p class="">Nous sommes des messagés du seigneur, ne nous résignons pas à de tels termes et autres obsénités voyons...</p>
                        <span>. 3h</span>
                    </div>
                </div>
            </div>
            <div  class="flex  hover:bg-gray-200 p-5 m-1 rounded-md cursor-pointer">
                <img class="w-12 h-12 rounded-full" src="https://scontent-cdg4-1.xx.fbcdn.net/v/t39.30808-6/405747864_1598288400978720_1546075625288456852_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=3QNWnfSZjFIAX_KA-uY&_nc_ht=scontent-cdg4-1.xx&oh=00_AfDG1garkY90OI9-Q9W8wHFLgDZAKhIg2ThBD5voQ-h_CA&oe=65E6CF18" alt="Jese image">
                <div class="ml-3">
                    <h2 class=" font-semibold">Jessie Phlaileucuby</h2>
                    <div class="flex justify-between text-gray-700">
                        <p class="">Nous sommes des messagés du seigneur, ne nous résignons pas à de tels termes et autres obsénités voyons...</p>
                        <span>. 3h</span>
                    </div>
                </div>
            </div>
            <div  class="flex  hover:bg-gray-200 p-5 m-1 rounded-md cursor-pointer">
                <img class="w-12 h-12 rounded-full" src="https://scontent-cdg4-1.xx.fbcdn.net/v/t39.30808-6/405747864_1598288400978720_1546075625288456852_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=3QNWnfSZjFIAX_KA-uY&_nc_ht=scontent-cdg4-1.xx&oh=00_AfDG1garkY90OI9-Q9W8wHFLgDZAKhIg2ThBD5voQ-h_CA&oe=65E6CF18" alt="Jese image">
                <div class="ml-3">
                    <h2 class=" font-semibold">Jessie Phlaileucuby</h2>
                    <div class="flex justify-between text-gray-700">
                        <p class="">Nous sommes des messagés du seigneur, ne nous résignons pas à de tels termes et autres obsénités voyons...</p>
                        <span>. 3h</span>
                    </div>
                </div>
            </div>
            <div  class="flex  hover:bg-gray-200 p-5 m-1 rounded-md cursor-pointer">
                <img class="w-12 h-12 rounded-full" src="https://scontent-cdg4-1.xx.fbcdn.net/v/t39.30808-6/405747864_1598288400978720_1546075625288456852_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=3QNWnfSZjFIAX_KA-uY&_nc_ht=scontent-cdg4-1.xx&oh=00_AfDG1garkY90OI9-Q9W8wHFLgDZAKhIg2ThBD5voQ-h_CA&oe=65E6CF18" alt="Jese image">
                <div class="ml-3">
                    <h2 class=" font-semibold">Jessie Phlaileucuby</h2>
                    <div class="flex justify-between text-gray-700">
                        <p class="">Nous sommes des messagés du seigneur, ne nous résignons pas à de tels termes et autres obsénités voyons...</p>
                        <span>. 3h</span>
                    </div>
                </div>
            </div>
            <div  class="flex  hover:bg-gray-200 p-5 m-1 rounded-md cursor-pointer">
                <img class="w-12 h-12 rounded-full" src="https://scontent-cdg4-1.xx.fbcdn.net/v/t39.30808-6/405747864_1598288400978720_1546075625288456852_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=3QNWnfSZjFIAX_KA-uY&_nc_ht=scontent-cdg4-1.xx&oh=00_AfDG1garkY90OI9-Q9W8wHFLgDZAKhIg2ThBD5voQ-h_CA&oe=65E6CF18" alt="Jese image">
                <div class="ml-3">
                    <h2 class=" font-semibold">Jessie Phlaileucuby</h2>
                    <div class="flex justify-between text-gray-700">
                        <p class="">Nous sommes des messagés du seigneur, ne nous résignons pas à de tels termes et autres obsénités voyons...</p>
                        <span>. 3h</span>
                    </div>
                </div>
            </div>
            <div  class="flex  hover:bg-gray-200 p-5 m-1 rounded-md cursor-pointer">
                <img class="w-12 h-12 rounded-full" src="https://scontent-cdg4-1.xx.fbcdn.net/v/t39.30808-6/405747864_1598288400978720_1546075625288456852_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=3QNWnfSZjFIAX_KA-uY&_nc_ht=scontent-cdg4-1.xx&oh=00_AfDG1garkY90OI9-Q9W8wHFLgDZAKhIg2ThBD5voQ-h_CA&oe=65E6CF18" alt="Jese image">
                <div class="ml-3">
                    <h2 class=" font-semibold">Jessie Phlaileucuby</h2>
                    <div class="flex justify-between text-gray-700">
                        <p class="">Nous sommes des messagés du seigneur, ne nous résignons pas à de tels termes et autres obsénités voyons...</p>
                        <span>. 3h</span>
                    </div>
                </div>
            </div>
            <div  class="flex  hover:bg-gray-200 p-5 m-1 rounded-md cursor-pointer">
                <img class="w-12 h-12 rounded-full" src="https://scontent-cdg4-1.xx.fbcdn.net/v/t39.30808-6/405747864_1598288400978720_1546075625288456852_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=3QNWnfSZjFIAX_KA-uY&_nc_ht=scontent-cdg4-1.xx&oh=00_AfDG1garkY90OI9-Q9W8wHFLgDZAKhIg2ThBD5voQ-h_CA&oe=65E6CF18" alt="Jese image">
                <div class="ml-3">
                    <h2 class=" font-semibold">Jessie Phlaileucuby</h2>
                    <div class="flex justify-between text-gray-700">
                        <p class="">Nous sommes des messagés du seigneur, ne nous résignons pas à de tels termes et autres obsénités voyons...</p>
                        <span>. 3h</span>
                    </div>
                </div>
            </div>
            <div  class="flex  hover:bg-gray-200 p-5 m-1 rounded-md cursor-pointer">
                <img class="w-12 h-12 rounded-full" src="https://scontent-cdg4-1.xx.fbcdn.net/v/t39.30808-6/405747864_1598288400978720_1546075625288456852_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=3QNWnfSZjFIAX_KA-uY&_nc_ht=scontent-cdg4-1.xx&oh=00_AfDG1garkY90OI9-Q9W8wHFLgDZAKhIg2ThBD5voQ-h_CA&oe=65E6CF18" alt="Jese image">
                <div class="ml-3">
                    <h2 class=" font-semibold">Jessie Phlaileucuby</h2>
                    <div class="flex justify-between text-gray-700">
                        <p class="">Nous sommes des messagés du seigneur, ne nous résignons pas à de tels termes et autres obsénités voyons...</p>
                        <span>. 3h</span>
                    </div>
                </div>
            </div>
            <div  class="flex  hover:bg-gray-200 p-5 m-1 rounded-md cursor-pointer">
                <img class="w-12 h-12 rounded-full" src="https://scontent-cdg4-1.xx.fbcdn.net/v/t39.30808-6/405747864_1598288400978720_1546075625288456852_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=3QNWnfSZjFIAX_KA-uY&_nc_ht=scontent-cdg4-1.xx&oh=00_AfDG1garkY90OI9-Q9W8wHFLgDZAKhIg2ThBD5voQ-h_CA&oe=65E6CF18" alt="Jese image">
                <div class="ml-3">
                    <h2 class=" font-semibold">Jessie Phlaileucuby</h2>
                    <div class="flex justify-between text-gray-700">
                        <p class="">Nous sommes des messagés du seigneur, ne nous résignons pas à de tels termes et autres obsénités voyons...</p>
                        <span>. 3h</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div #chatSection class="relative w-full h-screen ml-3">
        <!-- header -->
        <div class="flex w-full border-b h-14 bg-white">
            <div class="flex ml-2 mt-2 relative">
                    <img class="w-12 h-12 rounded-full" src="https://scontent-cdg4-1.xx.fbcdn.net/v/t39.30808-6/405747864_1598288400978720_1546075625288456852_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=3QNWnfSZjFIAX_KA-uY&_nc_ht=scontent-cdg4-1.xx&oh=00_AfDG1garkY90OI9-Q9W8wHFLgDZAKhIg2ThBD5voQ-h_CA&oe=65E6CF18" alt="Jese image">
                <div class="flex flex-col">
                    <span class="font-semibold ml-2">{{ (user | async)?.username }}</span>

                    <p class="ml-2 text-gray-600">En ligne il y a 10 min</p>
                </div>
            </div>
            <a (click)="logout()" *ngIf="isAuth | async" class="flex ml-auto items-center lg:order-2">
                <button type="button"  class="flex items-center text-white bg-purple-700 hover:bg-purple-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700" >
                  <svg class="w-4 h-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16">
                    <path stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 8h11m0 0-4-4m4 4-4 4m-5 3H3a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h3"/>
                  </svg>
                  <span class="ml-2">Se déconnecter</span>
                </button>
              </a>

              <a href="/login" *ngIf="!(isAuth | async)" class="flex items-center lg:order-2">
                <button type="button" class="text-white items-center bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800" >
                  <svg class="w-3.5 h-3.5 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M7 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9Zm2 1H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"/>
                  </svg>
                  Se connecter
                </button>
              </a>
        </div>



        <!-- Bubble section -->
        <div class="relative flex flex-col-reverse h-[calc(100%-120px)] overflow-y-auto">
            <!-- Bubble div -->
            <div *ngFor="let message of listMessages" class="flex items-center gap-2.5 mt-2 mr-2" [ngClass]="{'ml-auto' : message.isUserMessage}">
                <img class="w-8 h-8 rounded-full" src="https://scontent-cdg4-1.xx.fbcdn.net/v/t39.30808-6/405747864_1598288400978720_1546075625288456852_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=3QNWnfSZjFIAX_KA-uY&_nc_ht=scontent-cdg4-1.xx&oh=00_AfDG1garkY90OI9-Q9W8wHFLgDZAKhIg2ThBD5voQ-h_CA&oe=65E6CF18" alt="Jese image">

                <div class="flex justify-center flex-col">
                    <span *ngIf="!message.isUserMessage" class="text-sm ml-1 text-gray-400 dark:text-white" [ngClass]="{'text-white': message.isUserMessage, 'text-gray-900': !message.isUserMessage}">Jessie Phlaileucuby</span>

                    <div class="flex flex-col w-full max-w-[320px] leading-1.5 px-3 mt-2 border-gray-200 rounded-xl rounded-xl dark:bg-gray-700" [ngClass]="{'bg-purple-700': message.isUserMessage, 'bg-gray-100': !message.isUserMessage}">
                        <p class="text-sm font-normal py-2.5 dark:text-white" [ngClass]="{'text-white': message.isUserMessage, 'text-gray-900': !message.isUserMessage}">{{message.content}}</p>
                    </div>
                    <span class="text-sm font-normal text-gray-400 dark:text-gray-400">11:46</span>

                </div>


            </div>
        </div>


        <!-- Input section -->
        <div class="relative">
            <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
                <label for="chat" class="sr-only">Your message</label>
                <div class="flex items-center px-3 py-2 rounded-lg bg-gray-50 dark:bg-gray-700">
                    <button type="button" class="inline-flex justify-center p-2 text-gray-500 rounded-lg cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18">
                            <path fill="currentColor" d="M13 5.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0ZM7.565 7.423 4.5 14h11.518l-2.516-3.71L11 13 7.565 7.423Z"/>
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 1H2a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1Z"/>
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0ZM7.565 7.423 4.5 14h11.518l-2.516-3.71L11 13 7.565 7.423Z"/>
                        </svg>
                        <span class="sr-only">Upload image</span>
                    </button>

                    <button (click)="toggleEmojiPicker()" type="button" class="p-2 text-gray-500 rounded-lg cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.408 7.5h.01m-6.876 0h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0ZM4.6 11a5.5 5.5 0 0 0 10.81 0H4.6Z"/>
                        </svg>
                        <span class="sr-only">Add emoji</span>

                    </button>
                    <textarea blur="onBlur()"
                    (focus)="onFocus()" formControlName="message" id="chat" rows="1" class="mx-4 p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Your message..."></textarea>
                        <button type="submit" class="inline-flex justify-center p-2 text-blue-600 rounded-full cursor-pointer hover:bg-blue-100 dark:text-blue-500 dark:hover:bg-gray-600">
                        <svg class="w-5 h-5 rotate-90 rtl:-rotate-90" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                            <path d="m17.914 18.594-8-18a1 1 0 0 0-1.828 0l-8 18a1 1 0 0 0 1.157 1.376L8 18.281V9a1 1 0 0 1 2 0v9.281l6.758 1.689a1 1 0 0 0 1.156-1.376Z"/>
                        </svg>
                        <span class="sr-only">Send message</span>
                    </button>
                </div>
            </form>
        </div>

        <emoji-mart
        class="emoji-mart position-absolute top-0 left-0"
        set='apple'
        *ngIf="showEmojiPicker"
        (emojiSelect)="addEmoji($event)"
        title="Pick your emoji…"
        [darkMode]="false"
        >
        </emoji-mart>
    </div>

    <div id="newConversationModal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full">
        <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
            <!-- Modal content -->
            <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
                <!-- Modal header -->
                <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">🛸 Nouvelle croisade</h3>
                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="newConversationModal">
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        <span class="sr-only">Fermer</span>
                    </button>
                </div>
                <!-- Modal body -->
                <form [formGroup]="newConversationForm" class="max-w-sm mx-auto">
                    <div class="mb-5">
                        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nom</label>
                        <input formControlName="name" type="text" name="name" id="name" placeholder="Insérez un titre" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                    </div>

                    <div class="mb-5">
                        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Utilisateurs</label>
                        <div class="flex items-start mb-5">
                            <input formControlName="user" type="text" name="name" id="name" placeholder="Insérez un croisé" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                            <select (change)="onSelectUser($event)"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                <option disabled selected>Sélectionner un utilisateur</option>
                                @for (user of (suggestedUsers | async); track user)
                                {
                                    <option value="{{ user.id }}">{{user.username}}</option>
                                } @empty {
                                    <p>Pas d'utilisateurs</p>
                                }
                            </select>
                        </div>
                    </div>

                    <ul *ngIf="selectedUsers.length > 0"  class="max-w-md divide-y divide-gray-200 dark:divide-gray-700">
                        <li *ngFor="let user of selectedUsers" class="py-3 sm:pb-4">
                            <div class="flex items-center space-x-4 rtl:space-x-reverse">
                                <div class="relative w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                                    <svg class="absolute w-12 h-12 text-gray-400 -left-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
                                </div>
                                <div class="font-medium dark:text-white">
                                    <p>{{ user.firstname }} {{ user.lastname }}</p>
                                    <p class="text-sm text-gray-500 dark:text-gray-400">{{ user.username }}</p>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <button type="submit" class="text-white inline-flex items-center bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                        <svg class="mr-1 -ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                        Partir en croisade
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>


