<h5 class="text-2xl font-semibold whitespace-nowrap dark:text-white">Messages</h5>
<div class = "flex items-start flex-wrap  w-100 gap-5 m-5" >
  @for (message of messages; track message) {
      <div  class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ message.id }}</h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">{{ message.content }}</p>
      </div>
  }
  <p *ngIf="messages.length === 0">Aucun message</p>
</div>

<button (click)="sendMsg()"  type="button" class="flex items-center text-white bg-purple-700 hover:bg-purple-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700" >
  <svg class="w-[18px] h-[18px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18"><path stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/></svg>
  <span class="ml-2">Nouveau message</span>
</button>